<template>
  <div class="home">
    <v-container class="grey lighten-5">
      <v-row>
      <v-spacer></v-spacer>
      <v-col>
        <v-card
          class="mx-auto"
          max-width="1200"
        >
          <v-img
            class="white--text align-end"
            height="800px"
            src="../assets/shipment.jpg"
          >
            <v-card-title>Welcome to the Shipment Management application.</v-card-title>
          </v-img>
        </v-card>
      </v-col>
      <v-spacer></v-spacer>
    </v-row>
    </v-container>
  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {
  }
}
</script>

