<template>
  <v-data-table
    data-testid="table-shipment"
    :headers="headers"
    :items="shipments"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Shipments</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              data-testid="btn-add"
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              Add
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-form
                v-model="validations.status"
                ref="form"
                :lazy-validation="validations.lazy"
              >
                <v-container>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                        data-testid="input-tracking-number"
                        v-model="editedItem.tracking_number"
                        :counter="20"
                        :rules="validations.tracking_numberRules"
                        label="Tracking Number *"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                        data-testid="input-location-origin"
                        v-model="editedItem.location_origin"
                        :counter="50"
                        :rules="[
                          ...validations.required_50,
                          ...locationOriginRules,
                        ]"
                        label="Origin *"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                        data-testid="input-location-destination"
                        v-model="editedItem.location_destination"
                        :counter="50"
                        :rules="[
                          ...validations.required_50,
                          ...locationDestinationRules,
                        ]"
                        label="Destination *"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-datetime-picker
                        data-testid="datetime-delivery-date"
                        label="Delivery Date"
                        v-model="editedItem.delivery_date"
                      >
                        <template v-slot:dateIcon>
                          <v-icon small> fas fa-calendar-day </v-icon>
                        </template>
                        <template v-slot:timeIcon>
                          <v-icon small> fas fa-clock </v-icon>
                        </template>
                      </v-datetime-picker>
                    </v-col>
                  </v-row>
                  <v-row>
                    <p>(*) Required fields</p>
                  </v-row>
                </v-container>
              </v-form>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                data-testid="btn-cancel"
                color="blue darken-1"
                text
                @click="close"
              >
                Cancel
              </v-btn>
              <v-btn
                data-testid="btn-submit"
                color="blue darken-1"
                text
                @click="save"
                :disabled="!validations.status"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline"
              >Are you sure you want to delete this item?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete"
                >Cancel</v-btn
              >
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >OK</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:[`item.delivery_date`]="{ item }">
      {{ formatDate(item.delivery_date) }}
    </template>
    <template v-slot:[`item.created_at`]="{ item }">
      {{ formatDate(item.created_at) }}
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-row>
        <div @click="editItem(item)">
          <v-icon small class="mr-2"> far fa-edit </v-icon>
        </div>
        <div @click="deleteItem(item)">
          <v-icon small> far fa-trash-alt </v-icon>
        </div>
      </v-row>
    </template>
    <template v-slot:no-data>
      <p>No data found</p>
    </template>
  </v-data-table>
</template>

<script>
import { mapGetters } from "vuex";
import moment from "moment";

export default {
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "Tracking Number",
        align: "start",
        value: "tracking_number",
      },
      { text: "Origin", value: "location_origin" },
      { text: "Destination ", value: "location_destination" },
      { text: "Delivery Date", value: "delivery_date" },
      { text: "Created", value: "created_at" },
      { text: "Actions", value: "actions", sortable: false },
    ],
    editedIndex: -1,
    editedItem: {
      tracking_number: "",
      location_origin: "",
      location_destination: "",
      delivery_date: new Date(),
    },
    defaultItem: {
      tracking_number: "",
      location_origin: "",
      location_destination: "",
      delivery_date: new Date(),
    },
    validations: {
      status: true,
      lazy: false,
      tracking_numberRules: [
        (v) => !!v || "This field is required",
        (v) =>
          (v && v.length <= 20) ||
          "This field must be equal or less than 20 characters",
      ],
      required_50: [
        (v) => !!v || "This field is required",
        (v) =>
          (v && v.length <= 50) ||
          "This field must be equal or less than 50 characters",
      ],
    },
  }),

  computed: {
    ...mapGetters({
      shipments: "getShipments",
    }),
    formTitle() {
      return this.editedIndex === -1 ? "New Shipment" : "Edit Shipment";
    },
    locationDestinationRules() {
      return [
        (v) =>
          (v && v !== this.editedItem.location_origin) ||
          "Destination must be different from Origin",
      ];
    },
    locationOriginRules() {
      return [
        (v) =>
          (v && v !== this.editedItem.location_destination) ||
          "Origin must be different from Destination",
      ];
    },
  },

  watch: {
    dialog(val) {
      this.resetValidation();
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },
  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.$store.dispatch("LOAD_SHIPMENT", {});
    },

    editItem(item) {
      this.editedIndex = this.shipments.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.shipments.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.$store.dispatch("DELETE_SHIPMENT", {
        shipment: this.editedItem,
        index: this.editedIndex,
      });
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        this.$store.dispatch("UPDATE_SHIPMENT", {
          shipment: this.editedItem,
          index: this.editedIndex,
        });
      } else {
        this.$store.dispatch("SAVE_SHIPMENT", { shipment: this.editedItem });
      }
      this.close();
    },

    formatDate(date) {
      return moment(date).format("YYYY-MM-DD HH:mm");
    },
    resetValidation() {
      let form = this.$refs.form;
      if (form) {
        form.resetValidation();
      }
    },
  },
};
</script>