<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app>
      <v-list>
        <v-list-item
          v-for="(link, i) in links"
          :key="i"
          link
          @click="$router.push(link.linkpath)"
        >
          <v-list-item-icon>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ link.text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>Shipment Management</v-toolbar-title>
    </v-app-bar>

    <v-main>
      <v-layout v-if="system.error.show" wrap>
        <v-flex xs12  v-for="message in system.error.messages" :key="message">
          <v-alert type="error">{{message}}</v-alert>
        </v-flex>
      </v-layout>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data: () => ({
    drawer: null,
    links: [
      {
        icon: "fa-ship",
        text: "Shipment List",
        linkpath: "/shipment-list",
      },
    ],
  }),
  computed: {
    ...mapGetters({
      system: "getSystem",
    }),
  },
};
</script>